PORT=5000
MONGO_URI=mongodb://localhost:27017/Scentso
JWT_SECRET=Your Secret
TOKEN_EXPIRY_AT=Token Expiry Date
IMAGE_KIT_PUBLIC_KEY=Imagekit Public Key
IMAGE_KIT_PRIVATE_KEY=Imagekit Private Key
IMAGE_KIT_URL_ENDPOINT=Imagekit URL Endpoint
CLIENT_URL=http://localhost:5173
NODE_ENV=development