@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";

@theme {
  --color-BG: #FFFFFF;
  --color-TEXT: #111111;
  --color-GOLD: #D4AF37;
  --color-GREEN: #2ECC71;
  --color-RED: #EF4444;

  --color-CARD-BG: #F9F9F9;

  --color-STAR: #D4AF37;
}

* {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--color-BG);
  color: #111111;
}

button {
  cursor: pointer;
}


.custom-pagination .swiper-pagination-bullet {
  background: #ffffff !important;
  opacity: 0.4;
  width: 7px;
  height: 7px;
  border-radius: 99px;
  transition: all 0.3s ease;
}

.custom-pagination .swiper-pagination-bullet-active {
  opacity: 1 !important;
  background: #D4AF37 !important;
  width: 24px;
}